* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1F2937;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header > nav {
    width: 20%;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: #E5E7EB;
}

header > h1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.welcome {
    padding: 8rem 0rem;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.welcome-message {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome-message > h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.welcome-message > p {
    font-size: 18px;
    color: #E5E7EB;
}

.welcome-message > button {
    width: 8rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.img-container {
    background-color: #E5E7EB;
    width: 450px;
    height: 250px;
}

/* Random Info */
.card-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 5rem 0rem;
}

.card-section > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.card-img {
    border: 3px solid #3882F6;
    border-radius: 1rem;
    width: 150px;
    height: 150px;
}

.card > p {
    padding: 1rem;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.quote-text {
    font-size: 28px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.sign-up {
    background-color: #F9FAF8;
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    background-color: #3882F6;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    gap: 10rem;
}

.sign-up-message {
    display: flex;
    flex-direction: column;
}

.sign-up-message > h2 {
    color: #F9FAF8;
}

.sign-up-message > p {
    color: #E5E7EB;
}

.sign-up-container > button {
    width: 8rem;
    padding: 0.5rem 2rem;
    border: 1px solid #F9FAF8;
    border-radius: 0.4rem;
    background-color: transparent;
    color: #F9FAF8;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 2rem;
}

button {
    cursor: pointer;
}